<!-- HEADER -->
<header class="header container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header__logo">
                    <a class="header__logo__text" href="/">{{ site.title }}</a>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="nav">
                    <ul>
                        {% include top-navigation.html %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- END OF HEADER -->