<section class="container-fluid">
    <div class="row social">
        <a class="social__link col-md-3" href="https://www.youtube.com/playlist?list=PLjfulDcBdkEamgw_QjDINeCh-3sWvwfuy" target="_blank">
            <div class="social__container" style="background-color: #ff0000">
                <h3 class="social__title"> <i class="fab fa-youtube" aria-hidden="true"></i> Show & Tell Videos</h3>
            </div>
        </a>
        <a class="social__link col-md-3" href="https://twitter.com/hashtag/IMSAlpha?f=live" target="_blank">
            <div class="social__container" style="background-color: #458bd2">
                <h3 class="social__title"> <i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter Feed</h3>
            </div>
        </a>
        <a class="social__link col-md-3" href="https://localgovdigital.slack.com/archives/CJW65RNAY" target="_blank">
            <div class="social__container" style="background-color: #36c5f0">
                <h3 class="social__title"> <i class="fab fa-slack-hash" aria-hidden="true"></i> Slack Thread</h3>
            </div>
        </a>
        <a class="social__link col-md-3" href="https://pipeline.localgov.digital/wiki/484" target="_blank">
            <div class="social__container" style="background-color: #9ecb0a">
                <h3 class="social__title"> <i class="far fa-clipboard"></i> Local Digital Pipeline</h3>
            </div>
        </a>
    </div>
</section>