<!-- TOP NAVIGATION -->
<div class="d-sm-none d-md-block desktop-nav">
    <ul>
        <li class="nav__item">
            <a class="nav__link {% if page.category contains 'Home' %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link {% if page.category contains 'Discovery' %}active{% endif %}" href="/discovery/">Discovery</a>
        </li>
        <li class="nav__item">
            <a class="nav__link {% if page.category contains 'Alpha' %}active{% endif %}" href="/alpha/">Alpha</a>
        </li>
        <li class="nav__item">
            <a class="nav__link {% if page.category contains 'Beta' %}active{% endif %}" href="/beta/">Beta</a>
        </li>
        <li class="nav__item">
            <a class="nav__link {% if page.category contains 'Videos' %}active{% endif %}" href="/videos/">Videos</a>
        </li>
    </ul>
</div>


<div class="d-none mobile-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/discovery/">Discovery</a>
        </li>
        <li>
            <a href="/alpha/">Alpha</a>
        </li>
        <li>
            <a href="/beta/">Beta</a>
        </li>
        <li>
            <a href="/videos/">Videos</a>
        </li>
    </ul>
</div>

<!-- ENDS TOP NAVIGATION -->